In [1]:
sc

In [3]:
dbs = sqlContext.sql("show databases")
dbs.toPandas()

  databaseName
0      default